{% extends 'layouts.html' %}

{% block body %}

<div class="jumbotron text-center">
    <h1>Welcome to FlaskApp</h1>
    <p class="lead">This is an example app I build using flask</p>
</div>
{% endblock %}